@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto&display=swap');

/* Body structure */

body {
    margin: 0;
    height: 100%
}

/* Body font styles */

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Major Mono Display', monospace;
}

/* Body colours */

body {
    background-color: #131111;
    color: blanchedalmond;
}

#highlight-letter {
    color: #b288ca;
}

.btn-purple {
    color: blanchedalmond;
    background-color: #b288ca;
    border-color: #b288ca;
    font-size: 1rem;
}

.btn-purple:hover {
    color: #b288ca;
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}

/* Header */

.header-container {
    margin: 20px 30px;
    padding: 0;
    max-width: 100%;
}

.nav-container {
    padding: 0;
    margin: 15px 80px;
    float: right;
}

header div a {
    text-decoration: none;
    color: blanchedalmond;
    float: left;
}

nav a {
    text-decoration: none;
    color: blanchedalmond;
    padding: 0 10px;
}

nav ul {
    list-style: none;
}

li {
    display: inline-block;
}

nav a:hover {
    color: #b288ca;
}

div a h1:hover {
    color: #b288ca;
}

.collapse-navbar {
    display: none;
}

@media screen and (max-width: 1199px) {

    .full-navbar {
        display: none;
    }

    .collapse-navbar {
        display: block;
        float: right;
    }

    .nav-container-collapse {
        float: right;
        margin-top: 50px;
        text-align: center;
    }

    .navbar-dark .navbar-toggler {
        color: #b288ca;
    }
    
    .navbar-dark {
        float: right;
        padding: 0;
        margin: 3px 40px;
    }
}

/* Hero section */

#company-logo {
    font-size: 6rem;
}

.book-btn {
    margin: 10px;
}

.callout-container {
    display: none;
}

.full-callout-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 80px;
    padding-bottom: 80px;  
    margin-top: 120px;
    z-index: 2;
}

.hero-bg {
    background: url(../images/hero-image.jpg) no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80vh;
    text-align: center;
    width: 100%;
    z-index: 1;
}

mark {
    font-size: 85%;
    background-color: burlywood;
}

@media screen and (max-width: 1025px) {

    .hero-bg {
        display: none;
    }

    .callout-container {
        display: block;
        text-align: center;
        margin: 38px 0;
    }

}

/* Modal section */

.modal-body {
    color: blanchedalmond;
    background-color: #131111;
}

.modal-header {
    background-color: #131111;
    border-color: blanchedalmond;
}

.modal-title {
    color: blanchedalmond;
    text-align: center;
}

input[type="date"] {
    font-size: 15px;
}

/* Review section */

.cust-reviews {
    margin: 60px 20px;
    text-align: center;
}

.fa-hand-scissors {
    color: #b288ca;
}

/* Footer section */

footer {
    position: relative;
    margin-top: 100px;
    clear: both;
}

footer h3 {
    margin-bottom: 20px;
}

.contact-footer {
    text-align: center;
}

.contact-footer a {
    text-decoration: none;
    color: #b288ca;
}

.opening {
    text-align: center;
}

.socials {
    text-align: center;
}

.socials i {
    color: #b288ca;
    font-size: 30px;
    padding: 0 15px 129px 15px;
}

.disclaimer {
    text-align: center;
}

.disclaimer i {
    color: #b288ca;
}

.med-footer {
    display: none;
}

.small-footer {
    display: none;
}

@media screen and (max-width: 992px) {

    .full-footer {
        display: none;
    }

    .small-footer {
        display: none;
    }

    .med-footer {
        display: block;
    }

    .socials i {
        padding: 10px;
    }

    .socials, .disclaimer {
        margin-top: 50px;
    }

}

@media screen and (max-width: 768px) {

    .full-footer {
        display: none;
    }

    .med-footer {
        display: none;
    }

    .small-footer {
        display: block;
    }

    .socials i {
        padding: 10px;
    }

    .opening, .socials, .disclaimer {
        margin-top: 50px;
    }

}

/* About section */

.entire-about {
    width: 75%;
}

.about-heading {
    text-align: left;
    margin-bottom: 50px;
}

.about-content {
    margin: 40px 50px 0 0;
}

.about-images {
   width: 25em;
   height: 35em;
}

/* Services section */

.services-heading {
    text-align: left;
}

.entire-services {
    width: 75%;
}

video {
    height: 50%;
    width: 100%;
    position: relative;
    margin-top: 185px;
}

.tilda-section {
    padding-top: 90px;
}

.mathias-section {
    padding-top: 90px;
}

/* Contact section */

.contact-heading {
    text-align: center;
    margin-bottom: 50px;
}

.contact a {
    text-decoration: none;
    color: #b288ca;
}

.contact-1 {
    padding-left: 160px;
}

iframe {
    margin: 0;
    padding: 0;
}

.contact-2a {
    margin-right: 160px;
}

.contact-2b {
    width: 400px;
    margin-right: 160px;
}

.questions-form .row {
    width: 500px;
    margin-bottom: 10px;
}

/* Booking section */

.booking-heading {
    text-align: center;
    margin-bottom: 50px;
}

.booking-content .row {
    margin-top: 10px;
    padding: 0 60px;
}

textarea {
    max-width: 100%;
    resize: none;
    margin-bottom: 15px;
    border-color: #b288ca;
    border-width: 3px;
    background-color: #131111;
    color: blanchedalmond;
}

.form-control {
    border-color: #b288ca;
    border-width: 3px;
    background-color: #131111;
    color: blanchedalmond;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    margin-top: 3px;
}   